{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='card'>
    <div class='card-header'>
        <h1>Integration List</h1>
    </div>
    <div class='card-body'>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Site</th>
                    <th>Client ID</th>
                    <th>Client URL</th>
                    <th>Public Key</th>
                    <th>Private Key</th>
                    <th>Attrs</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in object_list %}
                <tr>
                    <th>{{ credential.name }}</th>
                    <th>{{ credential.site }}</th>
                    <th>{{ credential.client_id }}</th>
                    <th>{{ credential.client_url }}</th>
                    <th>{{ credential.public_key }}</th>
                    <th>{{ credential.private_key }}</th>
                    <th>{{ credential.attrs }}</th>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        
    {% endblock %}
</div>